<!DOCTYPE html>
<html>
<head>
  <title>SsoClient</title>
  <%= stylesheet_link_tag    "sso_client/application" %>
  <%= javascript_include_tag "sso_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
